<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Comments:
<div>
  <% @post.comments.each do |comment| %>
    <%= "#{comment.user.username} says: #{comment.content}" %>
  <% end %>
</div>

Users:
<ul>
  <% @post.users.uniq.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>

Categories:
<div>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</div>
